# Import streamlit Library
import streamlit as st
import math
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import streamlit as st
import json
import toml
import streamlit as st
from streamlit_option_menu import option_menu